<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first"></div>

    <!-- Login Form -->
    <form #formLogin="ngForm" (submit)="onlogin(formLogin)">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" ngModel />
      <input type="password" id="password" class="fadeIn third" name="pwd" placeholder="password" ngModel />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
  </div>
</div>